@model Hayvan_Barinagi.Models.Cins
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Localizer["CinsAd"]
                <input asp-for="CinsAd" class="form-control" />
                <span asp-validation-for="CinsAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Olustur"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["ListeyeGeriDon"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
